* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

.wrap,
html,
body {
    width: 100%;
    height: 100%;
}

.wrap {
    display: flex;
    flex-direction: column;
    font-size:0.32rem;
}

section {
    width: 100%;
    flex: 1;
    overflow-y: auto;
}

.list{
    display:flex;
    flex-direction:column;
    align-items:center;
    font-size:0.28rem;
}

.list li{
    width:95%;
    line-height:50px;
    border-bottom:solid 1px #ccc;
    position: relative;
}

.list li b{
    font-weight:normal;
}

.list li span{
    color:#999;
    padding-left:0.3rem;
    font-size:0.27rem;
}

.list li i {
    position: absolute;
    right:-.1rem;
    color:#999;
}

.list li.daquan{
    position: relative;
}

.list li.daquan input{
    display: none;
}

.list li.daquan u{
    padding-left:.32rem;
}

.list li i.quan{
    display:inline-block;
    border-radius: 50%;
    width:.28rem;
    height:.28rem;
    color:#fff;
    background: skyblue;
    text-align:center;
    line-height:.28rem;
    position: absolute; right:3.1rem; top:.35rem;
}

.list li i.quan2{
    display:inline-block;
    border-radius: 50%;
    width:.28rem;
    height:.28rem;
    color:#fff;
    background: skyblue;
    text-align:center;
    line-height:.28rem;
    position: absolute; right:2.4rem; top:.35rem;
}

.list h6{
    font-weight:normal;
    font-size:.23rem;
    line-height:.5rem;
    position: absolute; right:.1rem;
}