* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

.wrap,
html,
body {
    width: 100%;
    height: 100%;
}

.wrap {
    display: flex;
    flex-direction: column;
}

section {
    width: 100%;
    flex: 1;
    overflow-y: auto;
}

.header{
    width:100%;
    height:1.3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #000;
    color:#fff;
}
footer{
    width:100%;
    height:1.3rem;
    display: flex;
}
footer .s1{
  width:80%;
  height:100%;
  background:orange;
  text-align: center;
  line-height: 1.3rem;
  color:#fff;
}
footer span:nth-of-type(2){
   width:20%;
   height:100%;
   background:green;
   line-height:1.3rem;
   text-align:center;
   color:#fff;
}

